input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.avatar:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}