@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.disable {
    @apply cursor-not-allowed bg-gray-100 text-gray-400 opacity-50 select-none pointer-events-none;
}
.h1 {
    @apply text-4xl font-bold;
}
.h2 {
    @apply text-3xl font-medium;
}
.h3 {
    @apply text-2xl font-medium;
}
.h4 {
    @apply text-xl font-medium;
}
.h5 {
    @apply text-lg font-medium;
}
.h6 {
    @apply text-base font-medium;
}
.sub1 {
    @apply text-sm font-medium;
}
.sub2 {
    @apply text-xs font-medium;
}
.body1 {
    @apply text-sm;
}
.body2 {
    @apply text-xs;
}
