input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.bd-red{
    @apply border border-red-500
}

.bd-blue{
    @apply border border-blue-500
}

.items-center{
    @apply grid justify-items-center
}

